.main_navesc {
	display: flex;
	justify-content: space-between;
	
	&__hero{
		background-image: url('../images/escuela.jpg') ;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: bottom;
		padding: 2em 2em;
		height: 50vh;
	}
}	

@media all and (min-width: 768px){
	.main_navesc {
		display: flex;
		justify-content: space-between;
		
		&__hero{
			background-image: url('../images/escuela.jpg') ;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: bottom;
			padding: 3em 10em;
			height: 35vh;
		}
	}
}