// Esquema de colores

// Primer esquema de color
$white: #FFF;
$gray:#313131;
$dark-gray: #353432;
$light-gray: #646464;

// Segundo esquema de color
$green:#008000;
$green-light:#529549;
$light-blue: #09aada;
$blue:#084183;

// Tipografía
$primary-font: 'Roboto', sans-serif;
$font-black:900;
$font-bold:700;
$font-medium:500;
$font-regular:400;
$font-light:300;
$font-thin:100;

// Tamaños de tipografías
$xxxx-large:70px;
$xxx-large:50px;
$xx-large:56px;
$x-large:40px;
$large:32px;
$medium:24px;
$small:14px;
$x-small:12px;
